body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #a061b3, #ce6db9);
    color: #1eb945;
    margin: 0;
    padding: 2rem;
    min-height: 100vh;
}

h1 {
    margin-bottom: 1.5rem;
}

input {
    padding: 0.6rem;
    font-size: 16px;
    width: 60%;
    max-width: 320px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 8px #033b21;
    outline: none;
    margin-bottom: 1.2rem;
    transition: box-shadow 0.3s;
    color:#05d149
}

input:focus {
    box-shadow: 0 0 12px #420544;
}

.button-group {
    margin-bottom: 1.5rem;
}

button {
    background-color: #cc00a0;
    color: rgb(59, 9, 7);
    border: none;
    border-radius: 10px;
    padding: 0.6rem 1.2rem;
    font-size: 16px;
    margin: 0.3rem;
    cursor: grab; 
    box-shadow: 0 0 8px #560886;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #8c0b96;
    box-shadow: 0 0 12px #ee37ff;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 322px;
    margin: 0 auto 1rem auto;
    color: #31152d;
    text-align: left;
    box-shadow: 0 0 10px #eb26eb;
    background: rgba(73, 8, 70, 0.3);
    border-radius: 5px;
    padding: 0.5rem;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    text-align: center;
}

li {
    padding: 0.3rem 0;
    border-bottom: 1px solid #5f226e;
}

li:last-child {
    border-bottom: none;
}

#result {
    margin-top: 1.2rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: #701188;
    text-shadow: 0 0 6px #ffffff;
    min-height: 2em;
}
body {
  margin: 0;
  min-height: 100vh;
  transition: background 0.05s linear;
  background-color: #860f80; /* sötét alap */
  overflow: hidden;
}
.rainbow-text {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;

  background: linear-gradient(
    90deg,
    #260038,
    #430253,
    #630266,
    #6d016d56,
    #82058d,
    #97039c,
    #b407ac,
    #ff00d4
  );
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: rainbowShift 3s linear infinite;
}

@keyframes rainbowShift {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #ac0add;
  cursor: none; 
  overflow: hidden;
}

.trail {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(255, 0, 179, 0.212); /* világoskék, áttetsző */
  pointer-events: none;
  animation: fadeOut 0.8s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}
